.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill-container{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    width: 1000px;
    height: 100px;
    position: relative;
    background: #fff;
    box-shadow: 0 10px 20px -10px rga(0,0,0,0.2);
    display: flex;
    overflow: hidden;
}
.slide{
    height: 100px;
    display: flex;
    align-items: center;
    animation: slideshow 8s linear infinite;
}
.slide img{
    animation-fill-mode: both;
    animation-duration: 1000ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    height: 70px;
    padding: 0 30px 0 30px;
    border-style: none;
    vertical-align: middle;
    
}
@keyframes slideshow{
    0%{transform: translateX(0);}
    100% {transform: translateX(-100%);}
}