.project_card{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
    padding: 8px 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px;
    padding-bottom: 0.1rem;
    background: linear-gradient(-30deg, rgb(24, 24, 24) 45%, rgb(0, 0, 0) 0px);  
    border-radius: 6px;
}
.image-adj{
    width: 60%;
}
.project-img{
    width: 100%;
}
.project_info{
    margin-right: 24px;
    color: #ffff;
    width: 50%;
}
.project-title{
font-size: 25px;
font-weight: 500;
margin-top: 2rem;
margin-left: 10px;
border-bottom: 0.2rem solid rgba(255, 255, 255, 0.7);
}
.project-links a{
    text-decoration: none;
    color: #1a1919;
    font-size: 20px;
}
.about-project{
    margin-top: 2.2rem;
    margin-left: 1rem;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
}
.link-button{
    color: #ffff;
    position: relative;
    letter-spacing: 0.1rem;
    transition: all 0.45s ease-out 0s;
    text-decoration: none;
    border: 2px solid#ffff;
    margin-top: 10px;
    margin-left: 25px;
    padding:10px 0;
    width: 35%;
    text-align: center;
}
.link-button:hover{
    background-color: #ffff;
    color: #044f99;
}
@media  only screen and (max-width:720px){
    .project_card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .link-button{
        width: 30%;
        margin: 17px;
    }
    img.project-img{
       height: auto;
       border-radius: 15px;
    }
    .project_info{
        width: 100%;
        height: auto;
        margin-left: 15px;
    }
    .project-title{
        margin-left: 30px;
    }
}